@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-size: 1.5rem;
    font-family: "Roboto",sans-serif;
}

.columns{
    columns: 4 250px;
    column-rule: 3px solid #444; 
    column-gap: 3rem; 
}
.columns p {
    margin-top: 0;
}

.columns h2 {
    background-color: #444;
    color: #eee;
    padding: 1rem;
    margin-top: 0;
}