* {
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid;
}
body{
    border: 3px solid black;
    font-size: 22px;
}
h1{
    color: red;
    border: 3px transparent;
    border-color: blue;
}
p{
    color: blue ;
}
.highlight{
    color: purple;
}

.gray {
    color: gray;
}

#font {
    font-family: 'Courier New', Courier, monospace;
}