* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    border: 10px double red;
    margin: 1.5em;
    font-size: 1.5rem;
    padding: 1.5em  ;
    outline: 5px solid purple;
    outline-offset: -20px;
}
.circle{
    height: 100px;
    width: 100px;
    background-color: gold;
    margin: 3rem auto;
    border: 2px solid black;
    border-radius: 50px;
    outline : 2px solid red;
    outline-offset: 0.25rem;
}